extends layout

block content
  h1.display-4.text-center= title
  p.text-center Welcome to #{title}

  ul.list-group
    a(href='/shoes')
      li.list-group-item.d-flex.justify-content-between.align-items-center
        | Shoes
        span.badge.badge-primary.badge-pill= data.shoe_count
    a(href='/brands')
      li.list-group-item.d-flex.justify-content-between.align-items-center
        | Brands
        span.badge.badge-primary.badge-pill= data.brand_count
    a(href='/categories')
      li.list-group-item.d-flex.justify-content-between.align-items-center
        | Categories
        span.badge.badge-primary.badge-pill= data.category_count
    a(href='/shoeinstances')
      li.list-group-item.d-flex.justify-content-between.align-items-center
        | Shoes Instances
        span.badge.badge-primary.badge-pill= data.shoeInstance_count
  