extends layout

block content
  .d-flex.justify-content-center.align-items-center.m-3
    h3.caps= title
    a.btn.btn-sm.btn-outline-primary.ml-2(href="#" type="button")
      i.fas.fa-plus

  .container.d-flex.flex-wrap.justify-content-center
    if (shoes !== null && shoes.length > 0)
      - shoes.sort(function(a, b) {let textA = a.brand.name.toUpperCase(); let textB = b.brand.name.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
        each shoe in shoes
          .card.shadow-sm.m-1(style="width: 14rem")
            .card-body.d-flex.flex-column
              a.h5.text-dark.card-title.caps.mb-0(href=shoe.brand.url)= shoe.brand.name
              h6.card-title.caps.mb-1= shoe.name
              a.card-text.text-muted.caps.mb-1(href=shoe.category.url)= shoe.category.name
              p.card-text.text-muted.small $#{shoe.price}
              .d-flex.flex-column.mt-auto
                p.card-text.text-muted.small last updated: #{shoe.updated_f}
                .d-flex
                  a.btn.btn-sm.btn-success.mr-1(href=shoe.url) View
                  a.btn.btn-sm.btn-primary.mr-1(href="#") Edit
                  a.btn.btn-sm.btn-danger(href="#") Delete
    else
      p No shoes available