extends layout

block content
  h1.display-4.text-center.caps= title
  
  .container.d-flex.flex-wrap.justify-content-center
    if shoes
      - shoes.sort(function(a, b) {let textA = a.brand.name.toUpperCase(); let textB = b.brand.name.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
      each shoe in shoes
        .card.m-1(style='width: 16rem;')
          .card-body
            h5.card-title.mb-0.caps= shoe.brand.name
            h6.card-title.mb-1.caps= shoe.name
            p.card-text.mb-0.caps= shoe.category.name
            p.card-text $#{shoe.price}
            a.btn.btn-primary.btn-sm.mr-1(href=shoe.url) Stock
            a.btn.btn-primary.btn-sm(href='#') Edit
      else
        .list-group-item There are no #{title}