extends layout

block content
  h1.display-4.text-center= title
  .container.d-flex.justify-content-center
    .card.m-1(style='width: 16rem;')
      .card-body
        h5.card-title= shoeInstance.shoe.name
        h6.card-subtitle= shoeInstance.shoe.brand.name
        p.card-subtitle= shoeInstance.shoe.category.name
        p.card-subtitle $#{shoeInstance.shoe.price}
        p.card-subtitle size: #{shoeInstance.size}
        p.card-subtitle quantity: #{shoeInstance.stock}
        
        a.btn.btn-primary.btn-sm.mr-1(href=shoeInstance.shoe.url) Detail
        a.btn.btn-primary.btn-sm(href='#') Edit

