extends layout

block content
  .container   
    h3.mt-3= title
    hr

    if shoeInstances
      - shoeInstances.sort(function(a, b) {let textA = Number(a.size); let textB = Number(b.size); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
            
      a.h4.text-dark.caps(href=shoe.brand.url)= shoe.brand.name
      h5.caps.mb-1= shoe.name
      a.text-dark.caps.mb-1(href=shoe.category.url)= shoe.category.name
      p.text-dark $#{shoe.price}
    
      .table-responsive-xl
        table.table.table-hover
          thead.thead-light
            tr
              th(scope='col') Size
              th(scope='col') Stock
              th(scope='col') Last Updated
              th(scope='col')
            tbody
              each shoe in shoeInstances
                tr
                  td= shoe.size
                  td= shoe.stock
                  td= shoe.updated_f
                  td
                    a.btn.btn-sm.btn-primary(href="#") Edit

    else
      li.list-group-item No shoe instances available

    
    .row
      .col-lg-4          
        h3.mt-3 Create shoe instance
        hr
        form(method='POST', action='')
          .form-group
            label(for='size') Shoe size
            select#size.form-control(type="select" name="size" data-size="5" )
              option(value="" selected) Select size
              each val in [8, 8.5, 9, 9.5, 10, 10.5, 11, 11.5, 12, 13, 14, 15]
                option(value=val)= val

          .form-group
            label(for='stock') Shoe stock
            input#stock.form-control(type='number' name="stock" value="1" min="0" max="99" required)

          button.btn.btn-primary.btn-block(type='submit') CREATE

        if errors
          each error in errors
            .alert.alert-danger.alert-dismissible.fade.show.mt-2= error.msg
              button.close(type="button" data-dismiss="alert" aria-label="Close")
                span(aria-hidden="true") &times;